<div class = "container" id="<%=email.id%>">
<h3>Email n°<%= email.id%><br>
  Object: <%= email.object%><br></h3>
  <p><%=link_to "Sélectionner l'email", email_path(email), remote: true%><p>
  <p>Body : <%= email.body%><p>

    <% if email.read == false%>
    <span id = "unread<%email.id%>" class="badge badge-info mt-3">Email non lu</span>
    <%else%>
    <span id = "unread<%email.id%>" class="badge badge-info mt-3">Email lu</span>
    <%end%>

</div>
