<h1 class="text-center">Emails</h1><br>
<div class="container mb-4">
<%= link_to "Recevoir un email", emails_path, class: "btn btn-info", remote: true, method: :post%>
</div>

  <div class="container d-flex flex-row">
    <div class="col-6 border">
      <h2 class="text-center mt-3">Liste des emails</h2>
        <div class="card-title mt-5">
          <ul id="email-list">
          <% @email.each do |email|  %>
            <h3>Email n°<%= email.id%><br>Object: <%= email.object%></h3>
              <%=link_to "Sélectionner l'email", email_path(email), remote: true%><br>
            <p><%= email.body%><p>
          <% end %>
          </ul>
        </div>
    </div>
      <div class="col-6 border pb-5">
        <h2 class="text-center mt-3">Emails sélectionnés</h2>
        <div class="card-title mt-5">
          <ul id="email-selected">
            <h3>Body</h3><br><p>Aucun email selectionné<p>
        </ul>
      </div>
  </div>
<div class="w-100"></div>
  </div>
